<!doctype html>
<html>
<head>
    <title>Unity-chan!</title>
    <script src="../socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:50px; }
    </style>
</head>
<body>
    <script type="text/javascript">
        var socket = io.connect('', {query: 'token=<%= token %>'}); // connection count should be increased by 1 at this point.

        var log_max = 10;
        var keyDict = {
            '32':'space', '39':'right', '37':'left', '38':'up', '40':'down', '17':'control', '13':'enter',
            '65':'a', '67':'c',
            '83':'s',
            '68':'d',
            '87':'w',
            '90':'z',
            '88':'x'
        };

        document.body.onkeydown = function(event) {
            if (keyDict.hasOwnProperty(event.which)){
                logUpdate('client', keyDict[event.which].toUpperCase() + '<i class="fa fa-hand-o-up"></i><br>');
            }
        };
        document.body.onkeyup = function(event) {
            if (keyDict.hasOwnProperty(event.which)){
                logUpdate('client', keyDict[event.which].toUpperCase() + '<i class="fa fa-hand-o-down"></i><br>'); // String.toUpperCase()
            }
        };

        /* MAIN LOGIC */
        socket.on('connectionInfo', function (data) {
            document.getElementById('mainMsgBox').innerHTML = '<i class="fa fa-server"></i> Server Status <i class="fa fa-smile-o"></i><br>';

            // change keyboard event listener
            document.body.onkeydown = function(event) {
                if (keyDict.hasOwnProperty(event.which)){
                    logUpdate('client', keyDict[event.which].toUpperCase() + '<i class="fa fa-hand-o-up"></i><br>');
                    socket.emit('keyEvent', {key:keyDict[event.which], updown:'down'});
                }
            };
            document.body.onkeyup = function(event) {
                if (keyDict.hasOwnProperty(event.which)){
                    logUpdate('client', keyDict[event.which].toUpperCase() + '<i class="fa fa-hand-o-down"></i><br>'); // String.toUpperCase()
                    socket.emit('keyEvent', {key:keyDict[event.which], updown:'up'});
                }
            };

            // update connection Status
            document.getElementById('onGame').innerHTML = data.onGame;
            document.getElementById('connectionCount').innerHTML = data.connectionCount;
        });

        /* KEY EVENT */
        socket.on('keyEvent', function (data) {
            logUpdate('server', data.key.toUpperCase() + '<i class="fa fa-hand-o-'+data.updown+'"></i><br>');
        });


        socket.on('disconnect', function (data) {
            if (data.message) {
                document.getElementById('mainMsgBox').innerHTML = '<i class="fa fa-server"></i> Server Status <i class="fa fa-frown-o"></i>(%s)<br>'.format(data.message);
            }
            else {
                document.getElementById('mainMsgBox').innerHTML = '<i class="fa fa-server"></i> Server Status <i class="fa fa-frown-o"></i><br>';
            }
        });

        var logUpdate = function(container, text) {
            var tmp = document.getElementById(container).innerHTML + text;
            var log_count = (tmp.match(/<[ ]*[Bb][Rr][ ]*>/g) || []).length;
            if (log_count > log_max) {
                tmp = tmp.substring(tmp.search(/<[ ]*[Bb][Rr][ ]*>/));
                tmp = tmp.substring(tmp.search('>')+1);
            }
            document.getElementById(container).innerHTML = tmp;
        };

    </script>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-star-o"></i> Unity-chan!</h1>


        <p> Hi! <%= nickname %> </p>
        <!-- <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> View Profile</a> -->
        <!-- <a href="/logout" class="btn btn-default"><span class="fa fa-times"></span> Logout</a> -->
        <div class="row">
            <p><span id="mainMsgBox"></span></p>
        </div>
        <p>OnGame: <span id="onGame"><%= onGame %></span></p>
        <p>ConnectionCount: <span id="connectionCount"><%= connectionCount %></span></p>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Client side inputs</div>
            <div class="panel-body"><span id="client"></span></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Server inputs</div>
            <div class="panel-body"><span id="server"></span></div>
        </div>
    </div>
</div>
</body>
</html>